doctype html
html
  head
    title My Page
    style.
      body {
        background: linear-gradient(45deg, #171738, #1A2342, #1B2A4F);
      }

      form {
        max-width: 400px;
        margin: 0 auto;
      }

      div {
        margin-bottom: 10px;
      }

      label {
        display: block;
        font-weight: bold;
        color: #ffffff;
      }

      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 5px;
        font-size: 16px;
      }

      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }

      .register {
        display: none;
        border: 1px solid #ffffff;
        padding: 10px;
        margin-top: 10px;
      }

      div.logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }

      div.logo-container img.logo {
        max-width: 150px;
      }
  body
    div.login
      div.logo-container
        img.logo(src="/imagenes/actiongames.png", alt="Logo de la aplicación")
      form(action="/api/", method="POST")
        div
          label(for="login-username") Username:
          input(type="text", id="login-username", name="username", required)
        div
          label(for="login-password") Password:
          input(type="password", id="login-password", name="password", required)
        div
          input(type="submit", value="Login")
        div
          button(onclick="toggleRegisterForm()") Registrarse

    div.register
      form(action="/api/register", method="POST")
        div
          label(for="register-username") Usuario:
          input(type="text", id="register-username", name="username", required)
        div
          label(for="register-email") Email:
          input(type="text", id="register-email", name="email", required)
        div
          label(for="register-phone") Telefono:
          input(type="text", id="register-phone", name="phoneNum", required)
        div
          label(for="register-password") Contraseña:
          input(type="password", id="register-password", name="password", required)
        div
          label(for="register-confirm-password") Confirme contraseña:
          input(type="password", id="register-confirm-password", name="confirmPassword", required)
        div
          input(type="submit", value="Registrarse")
        div
          button(onclick="toggleRegisterForm()") Cerrar

  script.
    function toggleRegisterForm() {
      const registerForm = document.querySelector('.register');
      if (registerForm.style.display === '' || registerForm.style.display === 'none') {
        registerForm.style.display = 'block';
      } else {
        registerForm.style.display = 'none';
      }
    }


