doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Carrito
    style.
      body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(45deg, #171738, #1A2342, #1B2A4F);;
        display: block ;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .container {
        text-align: center;
        margin-top: 30px;
      }

      .logo {
        margin-bottom: 20px;
      }

      .message {
        font-size: 24px;
        font-weight: bold;
        color: #DB4437;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 18px;
        color: #5F6368;
        margin-bottom: 20px;
      }

      .link {
        color: #1A73E8;
        text-decoration: none;
        font-weight: bold;
      }

      .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        background-color: #171738;
      }

      .cart-button {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px 10px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .cart-button:hover {
        background-color: #45a049;
      }

      .chat-button {
        background-color: #109DFA;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px
      }

      .chat-button:hover {
        background-color: #109DDA;
      }
      .logo {
        width: 50px;
        height: 50px;
        margin-right: auto;
      }
      .logo-container {
        display: flex;
        align-items: center;
        margin-right: auto
      }
      .logo-text {
        margin-left: 10px;
        color: white;
        font-size: 16px;
      }
      .logout-button {
        background-color: #ff0000;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
      }

      .logout-button:hover {
        background-color: #cc0000;
      }

  body
    div.nav
      div.logo-container
        img.logo(src="/imagenes/logo.png", alt="Logo de la empresa", class="logo")
        span.logo-text Action Games Improved
      button.cart-button(onclick="outCart()") Salir del carrito
      button.chat-button(onclick="openChat()") Chatea con nosotros

    .container
      img.logo(src="https://www.google.com/images/errors/robot.png", alt="Robot")
      p.message Oops! Parece que no tienes nada en tu carrito aún.
      p.subtitle Trata de explorar nuestra tienda y añadir algunos productos interesantes. ¡Te encantarán!
      a.link(href="/api/productos") Ir a la tienda
  script.
    function openChat() {
      window.location.href = "/api/chat";
    }

    function outCart() {
      window.location.href = "/api/productos";
    }
